* {
  box-sizing: border-box;
}
body {
  font-family: 'Inter';
  font-style: normal;
  line-height: normal;
  font-size: 20px;
  font-weight: 400;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 0;
}
.wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
.header {
  height: 150px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.8)),
    url('./images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-bottom: 3px solid #fff;
}
.header-position {
  width: 1030px;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-left: 180px;
}
.logo {
  width: 186px;
  height: 72px;
}
.nav-list {
  display: flex;
  justify-content: center;
  margin-left: 180px;
  margin-right: 180px;
}
.nav-item + .nav-item {
  margin-left: 40px;
}
.link-item {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.link-item:hover {
  color: #94cfff;
}
.button {
  display: block;
  width: 140px;
  height: 40px;
  text-align: center;
  font-family: 'Headland One';
  border-radius: 35px 0px;
  border: 2px solid #26c7ea;
  background: #0b0e66;
  color: #26c6ea;
  padding-top: 9px;
}
.switcher {
  display: flex;
  width: 107px;
  height: 20px;
  margin-top: 65px;
}
.switcher-text {
  font-size: 16px;
  text-align: center;
  font-family: 'Hammersmith One';
  color: #fff;
}

/* Hero */
.hero {
  background-image: url('./images/avatar2.jpg');
  width: 1440px;
  height: 740px;
}
.hero-position {
  padding-top: 160px;
  padding-left: 205px;
}
.title {
  opacity: 0;
  margin: 0;
}
/* .hero-list-item {
    
} */
.hero-text {
  color: #fff;
  width: 300px;
  height: 100px;
}

.btn {
  display: block;
  width: 267px;
  height: 80px;
  text-align: center;
  font-size: 24px;
  font-family: 'Headland One';
  border-radius: 35px 0px;
  border: 2px solid #26c7ea;
  background: #0b0e66;
  color: #26c6ea;
  margin-top: 42px;
  padding: 25px 75px;
}
/* .icons {
  padding-left: 1185px;
} */
.app {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column-reverse;
}
/* Main */
.main {
  text-align: center;
}

/* Trailer */
.video {
  background-image: url('./images/avatar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 740px;
  padding-top: 330px;
  padding-left: 590px;
  padding-right: 590px;
  padding-bottom: 331px;
  margin-left: auto;
  margin-right: auto;
}
.video-btn {
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
  width: 260px;
  height: 80px;
  color: #26c7ea;
  font-size: 24px;
  font-weight: 400;
  padding: 25px 20px;
}
/* Language */
.features {
  height: 700px;
  background-image: url('./images/mountains.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  color: #141414;
  text-align: center;
  font-family: 'HeadlandOne';
  font-size: 35px;
  padding-top: 60px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.features-list > .features-item {
  flex-basis: calc(100% / 3 - 35px);
}
.features-item {
  background: rgba(255, 255, 255, 0.7);
  width: 320px;
  height: 240px;
  flex-shrink: 0;
  text-align: center;
  font-size: 25px;
  padding-top: 45px;
}
/* Footer */
.footer {
  /* height: 225px; */
  color: #fff;
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.8)),
    url('./images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* .line {
   
} */
.address {
  width: 690px;
  margin: 0;
}

.address-item {
  display: flex;
}

.address-link {
  color: #fff;
}
/* .desc {
  
} */
